target/
*.mv.db
*.trace.db
data/
src/main/resources/config.properties
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/
.DS_Store
Thumbs.db

tomcat/
target/
*.log

data/

data/

src/main/resources/db.properties
backup.sql
data-postgres.sql
debug.txt
host.txt
*.zip
tomcat/
data/
